.bg-film {
    width: 100%;
    position: absolute;
    left: -2px;
    height: auto;

    .film-img1 {
        width: 100%;
        height: 50rem;
        z-index: 5;
        margin-top: -1.5rem;

        @media screen and (max-width: 700px) {
            height: 35rem !important;
        }

        @media screen and (max-width: 500px) {
            height: 25rem !important;
        }
    }
}
h1,h2,h3,h4,h5{
    color: black!important;
}
.MuiPickersToolbarText-toolbarBtnSelected, .MuiPickersToolbarText-toolbarTxt{
    color: white!important;
}
li{
    color: black!important;
}
.content-film-container {
    z-index: 20;
    position: absolute;
    top: 15rem;
    width: 80%;

    @media screen and (max-width: 1030px) {
        left: 13rem;
    }

    @media screen and (max-width: 1000px) {
        left: 10rem;
    }

    @media screen and (max-width: 500px) {
        left: 8rem;
    }

    @media screen and (max-width: 420px) {
        left: 6rem;
    }

    .film-img2 {
        width: 70rem;
        height: 40rem !important;
        z-index: 5;

        @media screen and (max-width: 1000px) {
            width: 35rem !important;
            height: 40rem !important;
        }
    }

    .title-film {
        font-size: 2.5rem;
        color: white;
        font-weight: bold;

        @media screen and (max-width: 1000px) {
            margin-top: 4rem;
            color: black !important;
        }
    }

    .play-trailer {
        width: 10rem;
        height: 10rem;
        position: absolute;
        top: 45%;
        left: 40%;

        @media screen and (max-width: 1030px) {
            top: 25%;
            left: 35%;
        }

        @media screen and (max-width: 800px) {
            top: 45%;
            left: 25%;
        }

        @media screen and (max-width: 500px) {
            top: 45%;
            left: 40%;
        }
    }

}

.title-conent {
    font-size: 2rem;
    margin-top: 10px;
    color: white;

    .content {
        font-weight: bold
    }

    ;

    @media screen and (max-width: 1000px) {
        color: black !important;
    }
}

.content-film {
    font-size: 1.5rem;
    margin-top: 10px;
    color: white;

    @media screen and (max-width: 1000px) {
        color: black !important;
        font-weight: 500;
    }
}

.btn-cinema {
    width: 20rem !important;
    height: 5rem !important;
    font-size: 1.3rem !important;
    background: white !important;
    outline: none !important;
    margin-top: 3rem !important;
    border: 1px solid black !important;

    @media screen and (max-width: 800px) {
        width: 15rem !important;
    }

    @media screen and (max-width: 700px) {
        width: 20rem !important;
    }
}

.btn-cinema-active {
    width: 20rem !important;
    height: 5rem !important;
    font-size: 1.3rem !important;
    background: red !important;
    outline: none !important;
    margin-top: 3rem !important;
    color: white !important;

    @media screen and (max-width: 800px) {
        width: 15rem !important;
    }

    @media screen and (max-width: 700px) {
        width: 20rem !important;
    }
}

.btn-showtimes {
    background: white !important;
    border: 1px solid #00000040 !important;
    font-size: 1.3rem !important;

    &:hover {
        color: #f26b38 !important;
        border: 1px solid #f26b38 !important;
    }
}

.btnFilm {
    height: 7rem;
    border: 1px solid #00000059 !important;
    margin: 0px;
    cursor: pointer;

    &:hover {
        background: red;
        color: white
    }
}

.btnFilm-active {
    height: 7rem;
    border: 1px solid #00000059 !important;
    cursor: pointer;
    background: red;
    color: white
}

.film-responsive {

    @media screen and (max-width: 400px) {
        height: 10rem !important;
        width: 100% !important;
        font-size: 1rem !important;
    }

    .film-name {
        @media screen and (max-width: 600px) {
            font-size: 1.3rem !important;
        }

        @media screen and (max-width: 400px) {
            font-size: 1.3rem !important;
        }
    }

    .film-img {
        @media screen and (max-width: 600px) {
            height: 5rem !important;
            width: 100px !important;
        }

        @media screen and (max-width: 400px) {
            height: 3rem !important;
            width: 60px !important;
        }

    }
}

.MuiTypography-body2,
.MuiPickersCalendarHeader-dayLabel {
    font-size: 1.3rem !important;
}

.MuiInputLabel-formControl {
    font-size: 1.8rem !important;
}

.MuiInputBase-input {
    font-size: 1.5rem !important;
}

.MuiSvgIcon-root {
    font-size: 2.8rem !important;
}

.MuiPickersSlideTransition-transitionContainer>* {
    color: black;
    font-size: 1.5rem !important
}

.book-item-content {
    font-size: 1.2rem !important;

    @media screen and (max-width: 400px) {
        padding: 0px !important;
    }

}

.book-item-title {
    font-size: 1.5rem !important;
    color: white !important;

    @media screen and (max-width: 600px) {
        font-size: 1.2rem !important;
    }

    @media screen and (max-width: 400px) {
        font-size: 1rem !important;
    }
}

.btn-book-film {
    height: 4rem !important;
    background: #ff0000c2 !important;
    color: white !important;
    font-size: 1.5rem !important;
    outline: none !important;
    border: none !important;
    cursor: pointer !important;

    &:hover {
        background: red !important;
    }

}

.btn-book-item-table {
    font-size: 2rem !important;
    cursor: pointer !important;
}

.book-film-detail-title {
    color: black !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

.table-book-item {
    background: red !important;
    margin-right: 5rem !important;

    @media screen and (max-width: 600px) {
        width: 90% !important;
        margin-left: 2rem;
    }

    @media screen and (max-width: 400px) {
        width: 90% !important;
    }

    .table-item {
        @media screen and (max-width: 400px) {
            width: 80% !important;
        }

    }
}

.film-detail {

    @media screen and (max-width: 1000px) {
        margin-left: 0px !important;
        width: 100% !important;
    }
}

.cell-count {
    padding: 0px !important
}

.book-detail {
    height: auto !important;
    position: fixed !important;
    right: 25rem !important;

    @media screen and (max-width: 1100px) {
        position: relative !important;
        height: auto;
        left: -3rem !important;
        top: 2rem !important;
    }

    @media screen and (max-width: 550px) {
        position: relative !important;
        height: auto;
        left: -1rem !important;
        top: 2rem !important;
    }
}

.film-detail-display {
    @media screen and (max-width: 750px) {
        display: none !important;
    }

}

.MuiTypography-caption{
    font-size: 1.3rem!important;
    @media screen and (max-width: 400px) {
        font-size: 1rem!important;
    }
}

.MuiTableSortLabel-root:hover,.MuiTableSortLabel-root.MuiTableSortLabel-active{
    color: white!important;
}
.MuiTableSortLabel-root:hover .MuiTableSortLabel-icon{
    color: white!important;
}

.cosutom-text-field{
    margin-top:-3rem!important;
    .MuiInputBase-input{
        color: white!important;
    }
    .MuiInputLabel-formControl{
        color: white!important;
        @media screen and (max-width: 400px) {
            font-size: 1.2rem!important;
        }
    }
    .MuiInput-underline:before,.MuiInput-underline:after{
        border-bottom:1px solid white!important;
    }
}

.custom-message-dialog{
    .MuiDialog-paperScrollPaper{
        top:-12rem!important;
        color: white!important;
        @media screen and (max-width: 400px) {
            top:-20rem!important;
        }
    }
}

.img-dialog-detail-ticket{
    height: 20rem !important;
    @media screen and (max-width: 800px) {
        height: 15rem!important;
    }
    @media screen and (max-width: 500px) {
        height: 12rem!important;
    }
}

.dialog-detail-ticket-nothing{
    @media screen and (max-width: 500px) {
        width: 15rem!important;
        height: 2rem!important;
    }
    
}
.dialog-detail-ticket{
    width: 80rem;
    height: 50rem;
    @media screen and (max-width: 900px) {
        width: 60rem;
        height: 40rem;
    }
    @media screen and (max-width: 500px) {
        width: 40rem;
        height: 30rem;
    }
    @media screen and (max-width: 400px) {
        width: 28rem;
        height: 50rem;
    }
}